<h3>Blog</h3>

<div class="row">
  <div class="col l10">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in efficitur ipsum, vel accumsan neque. Vestibulum sollicitudin, arcu vitae ultricies ultrices, neque mi dignissim arcu, eget lobortis purus erat nec libero. Aenean turpis purus, feugiat sit amet mollis sed, pharetra at lectus. 
  </div>
</div>

<p> <%= link_to 'BACK', root_path, class: 'btn waves-effect' %> </p>