<div class="collection with-header">
  <div class="collection-header"><h4>Content</h4></div>
  <%= link_to 'BLOG', blog_path, class: 'collection-item' %>
  <%= link_to 'COURSES', courses_path, class: 'collection-item' %>
  <%= link_to 'ABOUT', about_path, class: 'collection-item' %>
</div>